<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <form method="post">
        IP:<br>
        <input type="text" name="ip">
        <br>
        User name:<br>
        <input type="text" name="user">
        <br>
        Password (default: password):<br>
        <input type="password" name="password" value="password">
        <br>
        Task:<br>
        <input type="text" name="task" value="3">
        <br>
        Public name (optional):<br>
        <input type="text" name="name">
        <br>
        <input type="submit" value="Submit">
    </form>
</head>
<body>

</body>
</html>