<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title></title>
    <style>
        table,th,td {
        border: 1px solid black;
        }
    </style>
</head>
<body>
<a href="add">Dodaj/edytuj połączenie</a>

<h1>Wyniki</h1>

<table>
    <tr>
        <th>Nazwa</th>
        <th>Wynik</th>
        <th>Laboratorium</th>
    </tr>
    {% for name,id, result, color,task in results %}
    <tr style="background-color: {{color|safe }};">
        <td>{{name|e if name else id|safe}}</td>
        <td>{{ result|e }}</td>
        <td>{{ task|e }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
