<!DOCTYPE html>
<html>
<head lang="en">
    <style>
        table,th,td {
        border: 1px solid black;
        }
        .green {
        background-color: #5F5;
        }
        .red {
        background-color: #F55;
        }
    </style>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<h1>Ukończono: {{result}}% {{'Gratulacje!'|safe if result==100}}</h1>

{% if result==100 %}
<iframe width="854" height="510" src="https://www.youtube.com/embed/04854XqcfCY?autoplay=1&start=39" frameborder="0"
        allowfullscreen></iframe>
{% endif %}

<table>
    <tr>
        <th>Wynik</th>
        <th>Opis</th>
    </tr>
    {% for result, description in results %}
    <tr {{
    'class="green"'|safe if result else 'class="red"'|safe}}>
    <td>{{ result|e }}</td>
    <td>{{ description|e }}</td>
    </tr>
    {% endfor %}
</table>


{% if result>=50 and result<100 %}
<iframe width="854" height="510" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"
        allowfullscreen></iframe>
{% endif %}
</body>
</html>